body {
  background-color: rgb(214, 226, 240);
  font-family: "Outfit", sans-serif;
}
.qr-box {
  background-color: hsl(0, 0%, 100%);
  width: 230px;
  height: 380px;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.qr-image {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.paragraph1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.paragraph2 {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
